
img{
    width:100%;
}
a{
 text-decoration: none;   
}
a:hover{
    color:white
}
h2,h3,h4,h5,h6{
    color:var(--mainFont-color)
}
p{
    color:var(--font-color);
    font-size:1em;

}
ul{
    padding:0;
    margin:0;
}

body{
     font-size: 16px;
    background-color: #000;
    position: relative;
    direction: rtl;
    text-align: right;
    font-family: 'Cairo', sans-serif;
overflow-x: hidden;
color:white;
}
.close{
    display: none;
}
.navbar-expand-lg .navbar-nav .nav-link{
    font-size:1.11em;
    color:white;
    font-weight: 400;
    padding-left:20px;
    padding-right:20px;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    color:#FFCC08;
}
.socialIcons li{
    display: inline-block;
    text-align: left;
    margin-right:20px

}
.navbar-expand-lg .navbar-nav .nav-item.active .nav-link{
    color:#FFCC08
}
.socialIcons li a{
    color:white;
    font-size: 1.1em;

}
.logo{
    width:120px;
}
.hero{
margin-top:27px;
padding-bottom:170px;

}
.hero .container{
    border:4px solid white;
    border-radius: 32px;
    position: relative;
}
.heroBackground{
    width:320px;
    margin:auto;
    opacity: .27;
    position: relative;
    z-index: -1;
    margin-top:-100px;
}
.heroTitle{
padding: 0 23px;
margin:auto;
position: absolute;
left: 42%;
top: -24px;
background-color: black;
}
.numberCircle{
    background-color: #FFCC08;
    border-radius: 50%;
    display: inline-block;
    width:42px;
    height: 42px;
    font-size:1.1em;
    color:black;
    font-weight: bold;
    text-align: center;
    margin-right:13px;
    line-height: 40px;
}
.heroTitleText{
font-size:1.1em;
}
.heroText {

text-align: center;
margin-top:100px;
position: absolute;
width:100%;}
.heroText h1{
    font-size:3.4em;
    font-weight: bold;;
}
.marginHeroText{
    margin-right:170px;
    margin-top:30px;
}
.aboutTitle{
    padding:40px 0 250px;
    background-color: rgba(255,255,255,.18);
    position: relative;
}
.sectionTitle h3{
    color:#FFCC08;
    text-align: center;
    margin-bottom: 35px;
    font-size:1.3333333333333333em;
    font-weight: bold;
}
.aboutBackground{
    position: absolute;
    left:20%;
    top:0;
    z-index: 0;
    opacity: .1;
    width:22%;
}
.sectionTitle p{
    font-size:1em;
    color:white;
    text-align: center;
}
.aboutDetails .container{
    background-color: #FFCC08;
    padding:50px 53px 57px;
    position: relative;
    z-index: 1;
    margin-top:-200px;
}
.aboutDetailsTitle i{
    margin-left:10px;
    font-size:1em;
}
.aboutDetailsTitle{
    font-size:1.33em;
    font-weight: bold;;
    color:black;
    margin-bottom: 10px;;
}
.aboutsection p{
    font-size:0.9em;
    color:black
}
.aboutsection ul li {
margin-bottom: 10px;;
color:black;
}
.link{
    width:74px;
    height:74px;
    background-color: black;
    position: absolute;
    border-radius: 50%;
    right: 48%;
    bottom: -40px;
    padding:14px;
    text-align: center
    ;
}
.link a {
    width:100%;
    border-radius: 50%;
    border:3px solid #FF2424;
     display: block;
     color:white;
     height: 100%;
     display: flex;
     justify-content: center;
}
.link a i{
    align-self: center;
}
.start{
    padding-top:130px;
}
a:hover{
    text-decoration: none;
}
.start .sectionTitle{
    margin-bottom: 50px;;
}
.startList h4{
    font-size:.9em;
    color:white;
    margin-bottom: 5px;;
}
.startList ul li {
    color:#FF2424;
    margin-bottom: 5px;;
}
.startList ul li p{
    font-size:.9em;
    color:white;
}
.priorities{
    padding:142px 0;
    text-align: right;
    background-repeat: no-repeat;
    position: relative;
    background-color:rgba(0,0,0);
}
.priorities:before{
    position: absolute;
    content:"";
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-image: url(../images/bg.png);
    background-size: cover;
    opacity: .34;
}
.priorities .sectionTitle{
    margin-bottom:75px;
    text-align: right;
}
.priorities .sectionTitle h3{
    text-align: right;
}
.sliderlist h3{
    font-size:.9em;
    color:white;
    font-weight: bold;
    margin-bottom: 10px;;
}
.sliderlist li {
    color:#FF2424;
    margin-top:10px;
}
.sliderlist li p{
    color:white;
    font-size:.9em;
    font-weight: 400;
}
.carousel-indicators{
    bottom:-50px;
}
.carousel-indicators li{
    opacity: 1;
    width:43px;
    margin-right:7px;
}
.carousel-indicators li.active{
    height:6px;
    background-color: #FF2424;
}
.vote{
    padding-top:209px;
    padding-bottom:162px;
}
.vote .container{
position: relative;
}
.voteBox{
    border:5px solid #FF2424;
    border-radius: 32px;
    overflow: hidden;
    padding:22px 40px;
    position: relative;
    padding-right:250px;
}
.voteImg{
    position: absolute;
    right: 4%;
    top: -134px;
    width:160px;
    z-index: 1;
}
.vote h4{
font-size:1.3em;
color:#FF2424;
font-weight: bold;
}
.vote p{
    font-size:.9em;
    color:white;
    margin-top:20px;
}
.voteLogo{
    position:absolute;
    width:30%;
    left: -46px;
    top: -73px;
}
.menu{
    padding-bottom:60px;
}
.menu .sectionTitle{
    margin-bottom: 58px;;
}
.candidateImg{
    width: 100%;
    height: 280px;
    overflow: hidden;
    margin-bottom: 28px;
    border:2px solid white;
}
.candidateImg img{
    height: fit-content;
    object-fit: cover;
    object-position: center;
}
.candidateBox{
    text-align: center;
    margin-bottom: 40px;;
}
.candidateBox h3{
    font-weight:bold;
    font-size:1em;
    margin-bottom: 10px;;
}
.candidateBox p{
    font-size:.9em;
    color:white;;
}
.contactUs{
    padding-bottom: 170px;;
}
.contactUs .sectionTitle{
    margin-bottom: 90px;
}
.contactIcon{
    margin-left:15px;
}
.contactDetails h3{
    font-size:1.3em;
    color:white;
    margin-bottom: 20px;;
}
.contactDetails p{
    font-size:1.6em;
    font-weight: bold;
}
.contactSocial li{
width:49px;
height:49px;
border-radius: 50%;
border:2px solid #FFCC08;
padding:19px;
text-align: center;
display: inline-flex;
justify-content: center;
}
.contactSocial li i{
    font-size:25px;
}
.contactSocial li a{
    align-self: center;
}
.socialIcons li.facebook:hover a{
    color:#3b5998;
}
.socialIcons li.twitter:hover a {
    color:#00acee
}
.socialIcons li.insta:hover a{
   color: #fbad50	
}
.footer{
    background-color: white;
    border-top:3px solid #FFCC08;
    position: relative;
    padding-top:77px;
    padding-bottom: 44px;;
}
.footerLogo{
    position: absolute;
    left:45%;
    width:140px;
    top:-110px;
    z-index: 1
}
.footer p{
    font-size:.95em;
    color:black;
    margin-bottom: 60px;;
    text-align: center;
}
.copyRights{
    font-size:.9em;
    color:black;
    align-self: center;
}
.footerSocial li a{
    color:black
}
.footerSocial li {
    border-color: black;
}
.links li {
    list-style-type: none;
    display: inline-block;
    display: inline-flex;
    
}
.links{
    align-self: center;
    text-align: left;
}

.links li a{
     color:black;
     font-size:.9em;
     margin-left:55px;
     align-self: center;
 }
 .links li a:hover{
     color:#FF2424
 }
 .footer .col-md-4{
     display: flex;
 }
 .footer .col-md-4:last-child{
     justify-content: flex-end;
 }
 .footerSocial li:first-child{
     margin-right: 0;
 }
 .scrollNav{
     background-color: black;
     box-shadow: 0 2px 5px rgba(0,0,0,.18);
     position: fixed;
     width:100%;
     z-index: 999999999;
     top:0;

 }
 .scrollNav .logo{
     width:80px;
 }